body{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.image img{
  padding-top: 7vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 18vh;
  width: 18vh;
}

.image h1{
  margin: 0vh;
  font-size: 10vh;
  line-height: 10vh;
  text-align: center;
  color:#FFFFFF;
}

.form{
  margin-top: 7vh;
  width: 52vh;
  height: 40vh;
  background: #FFFFFF;
  border-radius: 43px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form h2{
  padding-top: 3vh;
  text-align: center;
  color:#1690C3;
}

.site-form{
  margin-top: 5%;
}


.site-form input{
  display: block;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  border-radius: 35vh;
  width: 35vh;
  height:4vh;
}


.site-form input[type="submit"]{
  width: 50%;
  height: 5vh;
  background: #1690C3;
  border: 1px solid #1690C3;
  box-sizing: border-box;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 2vh;
  line-height: 2vh;
  text-align: center;
  color:#FFFFFF;
}
