button:focus {
  outline : 0 !important;
}

html {
  margin : 0px;
}

body {
  margin      : 0px;
  font-family : Suisse Int'l;
  font-style  : normal;
  font-weight : normal;
}

.darkblue {
  display    : flex;
  width      : 100vw;
  height     : 100vh;
  background : #1690C3;
}

.image1,
.image2 {
  height     : 3rem;
  object-fit : cover;
}

.darkblue-nav,
.lightblue nav {
  display         : flex;
  width           : 10%;
  height          : calc(100% - 4rem);
  padding         : 2rem 0rem;
  align-items     : center;
  flex-direction  : column;
  justify-content : space-between;
}

.darkblue-nav div {
  display        : flex;
  align-items    : center;
  flex-direction : column;
}

.image3,
.image4,
.image5 {
  margin-top : 20%;
}

#press {
  z-index          : 1;
  width            : 100%;
  height           : 12vh;
  border-radius    : 3vh 0px 0px 3vh;
  background-color : #FFFFFF;
}

.choosen {
  position : relative;
  margin   : 15% 0px 0rem 35%;
}

.white {
  width         : 100%;
  border-radius : 4rem 0rem 0rem 4rem;
  box-shadow    : 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.lightblue {
  display       : flex;
  width         : 100%;
  border-radius : 4rem 0rem 0rem 4rem;
  background    : #7CCCED;
  box-shadow    : 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.lightblue nav {
  justify-content : center;
}

.white {
  padding    : 2rem;
  background : white;
}

.white h2 {
  margin      : auto;
  color       : #1690C3;
  font-size   : 2rem;
  line-height : 2rem;
}

.title {
  display         : flex;
  width           : 60%;
  margin          : 2rem auto 3rem;
  justify-content : space-between;
}

.inventory-element {
  color : rgba(0, 0, 0, 0.55);
}

.inventory-element,
.inventory-title {
  display         : flex;
  width           : 60%;
  margin          : 0px auto;
  justify-content : space-between;
}

.inventory-title {
  width         : 65%;
  margin-bottom : 2rem;
}

.inventory-title span {
  color     : #7CCCED;
  font-size : 1.5rem;
}

.check {
  width        : 1rem;
  float        : right;
  margin-right : 5%;
  border       : none;
  background   : no-repeat;
  cursor       : pointer;
}

.criar {
  width      : 1rem;
  float      : right;
  border     : none;
  background : no-repeat;
  cursor     : pointer;
}

.white hr {
  width            : 65%;
  margin           : 1rem auto;
  background-color : #7CCCED;
}

.modal-header {
  border-radius    : 35vh 35vh 0 0;
  background-color : #1690C3;
}

.modal-content {
  width            : 100vh;
  border-radius    : 7vh 7vh 10vh 10vh;
  background-color : #1690C3;
}

.modal-header img {
  width      : 1rem;
  border     : none;
  background : no-repeat;
  cursor     : pointer;
}

.form-group1 {
  height           : 20vh;
  margin           : 0;
  border-radius    : 7vh 7vh 7vh 7vh;
  background-color : #7CCCED;
}

.form-group {
  display       : inline-block;
  margin        : 0;
  margin        : 5vh 0vh 0vh 10vh;
  border-radius : 40vh 40vh 35vh 35vh;
}

.form-group input {
  display       : block;
  box-sizing    : border-box;
  width         : 35vh;
  height        : 4vh;
  margin-right  : auto;
  margin-left   : auto;
  padding       : 2vh;
  border        : 0px solid rgba(255,255,255);
  border-radius : 35vh;
}

.form-group label {
  color : #FFFFFF;
}

.modal-title {
  color : #FFFFFF;
}
