html {
  margin : 0px;
}

body {
  margin      : 0px;
  font-family : Roboto;
  font-style  : normal;
  font-weight : normal;
}

.image1 {
  display     : block;
  width       : 10vh;
  height      : 10vh;
  margin      : auto;
  padding-top : 3vh;
}

.image2 {
  display     : block;
  width       : 14vh;
  height      : 14vh;
  margin      : auto;
  padding-top : 70vh;
}

#box1 {
  width : 7%;
  float : left;
}

#box2 {
  width            : 30%;
  height           : 100vh;
  float            : left;
  border-radius    : 10vh 0px 0px 10vh;
  background-color : #7CCCED;
}

#box2 img {
  display     : block;
  width       : 10vh;
  height      : 10vh;
  margin-left : 2vh;
  padding-top : 30vh;
}

#box3 {
  z-index          : 2;
  position         : relative;
  height           : 100vh;
  margin-left      : 27vh;
  border-radius    : 10vh 0px 0px 10vh;
  background-color : #FFFFFF;
}
