{% extends 'base.html' %}
{% block css %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/carteira.css' %}">
{% endblock %}
{% block content %}
            <div class="title">
              <h2>Carteira de Contactos</h2>
            </div>
            <div>
              <div class="contact-element">
                <div class="grid-container">
                  <div class="grid-item"><span id="contact-title">Nome</span></div>
                  <div class="grid-item"><span id="contact-title">Cargo</span></div>
                  <div class="grid-item"><span id="contact-title">Email</span></div>
                  <div class="grid-item"><span id="contact-title">Telemovel</span></div>
                  <div class="grid-item"><span id="contact-title">Cc</span></div>
                  {% if contactos_list %}
                  {% for contacto in contactos_list %}
                  <div class="grid-item">{{ contacto.first_name}} {{contacto.last_name}}</div>
                  <div class="grid-item">{{ contacto.cargo }}</div>
                  <div class="grid-item">{{ contacto.email }}</div>
                  <div class="grid-item">{{ contacto.telemovel }}</div>
                  <div class="grid-item">{{ contacto.cc_num }}</div>
                  <hr>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <h1>Inventário encontra-se vazio.</h1>
            {% endif %}
            </div>
    {% endblock %}
