<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body style="background-color:#1690C3;">
    <div class="image">
      <img  border="0" src="/static/css/logo_jek.png" alt="logo" >
      <h1>JekOffice</h1>
    </div>


    <div class="form">
      <h2>Log In</h2>
      <form class="site-form" method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        {{ form.username.label }}
        {{ form.username }}

        {{ form.password.label}}
        {{ form.password }}
        {{ form.errors }}

        <input type="submit" value="SIGN IN">
      </form>
    </div>
  </body>
</html>
