<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load staticfiles %}
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/editar_perfil.css' %}">
</head>

<body>
  <div class="title">
    <h2>Editar Perfil</h2>
    </div>

    <div class="box">
      <form class="form" action="{% url 'editar_perfil'%}"method="post">
          {% csrf_token %}
          <div class="imagem">{{ form.imagem.label_tag}} <br> {{ form.imagem}} </div>
          <div class="grid-item1">{{ form.first_name.label_tag}}<br> {{ form.first_name}}</div>
          <div class="grid-item2"> {{ form.last_name.label_tag}}<br> {{ form.last_name}}</div>
          <div class="grid-item3">{{ form.cargo.label_tag}}<br> {{ form.cargo}}</div>
          <div class="grid-item4">{{ form.email.label_tag}}<br> {{ form.email}}</div>
          <div class="grid-item5">{{ form.telemovel.label_tag}}<br> {{ form.telemovel}}</div>
          <div class="grid-item6">{{ form.cc_num.label_tag}}<br> {{ form.cc_num}}</div>
          <div class="grid-item7">{{ form.mac_adress.label_tag}}<br> {{ form.mac_adress}}</div>
      </form>
    </div>
    <input type="submit" value="Salvar Alterções">
</body>
</html>
